<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <style>
     body {background-color: #EEE2DC;}
     h1 {color: #123C69; font-family: 'Arial'; font-size: 100px; font-weight: bold;text-align: center}
    </style>
  </head>

  <body>
    <div class"header">
	 <h1>Squirrel Statistics</h1>
	
    </div>

    <div class="stats">
	    <li> In this data, we have spotted ttotal of {{total_squirrel}} squirrels.</li>
	    <br>

	    <li>{{shift_am}} squirrels are spotted in the day.</li>
	    <li>{{shift_pm}} squirrels are spotted in the late afternoon.</li>
	    <br>

	    <li>{{age_adult}} squirrels are adults. </li>
	    <li>{{age_juvenile}} squirrels are juvenile</li>
	    <li>{{age_unknown}} squirrels have unknown age.</li>
	    <br>

	    <li>{{running}} squirrels are spotted running.</li>
	    <br>

	    <li>{{climbing}} squirrels are spotted climbing.</li>
	    <br>

	    <li>{{eating}} squirrels are spotted eating.</li>
    </div>
  </body>
</html>
